
{% extends "base_auth.html" %}
{% block title %}Dompetku - Dasboard{% endblock %}
{% block body %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <!-- Branding Image -->
      <a class="navbar-brand" href="/home">
        Dompetku
      </a>
    </div>

    <!-- Right Side Of Navbar -->
    <div class="nav navbar-nav navbar-right" style="margin: 0;">
      <!-- Authentication Links -->
      <a class="xs-navbar" href="/transactions" title="Transaksi">
          <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp;
          <span class="hidden-xs">Transaksi</span>
      </a>
      <a class="xs-navbar" href="/categories" title="Kategori">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
        <span class="hidden-xs">Kategori</span>
      </a>
      <a class="xs-navbar" href="/change-password" title="Ganti Password">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;
        <span class="hidden-xs">Ganti Password</span>
      </a>
      <a class="xs-navbar" href="/logout">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Ganti Password</h3></div>
            <form method="POST" action="/change-password" accept-charset="UTF-8"><input name="_method" type="hidden" value="PATCH"><input name="_token" type="hidden" value="rqll4ui9RBISTapxvPvhGf4QDepsns3I38PTFJri">
            <div class="panel-body">
                <div class="form-group "><label for="old_password" class="control-label">Password Lama</label>&nbsp;<input class="form-control" name="old_password" type="password" id="old_password"></div>
                <div class="form-group "><label for="password" class="control-label">Password Baru</label>&nbsp;<input class="form-control" name="password" type="password" id="password"></div>
                <div class="form-group "><label for="password_confirmation" class="control-label">Ulangi Password Baru</label>&nbsp;<input class="form-control" name="password_confirmation" type="password" id="password_confirmation"></div>
            </div>
            <div class="panel-footer">
                <input class="btn btn-info" type="submit" value="Ganti Password">
                <a href="http://dompet.test/home" class="btn btn-default">Batal</a>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}