
{% extends "base_auth.html" %}
{% block title %}Dompetku - Dasboard{% endblock %}
{% block body %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <!-- Branding Image -->
      <a class="navbar-brand" href="/home">
        Dompetku
      </a>
    </div>

    <!-- Right Side Of Navbar -->
    <div class="nav navbar-nav navbar-right" style="margin: 0;">
      <!-- Authentication Links -->
      <a class="xs-navbar" href="/transactions" title="Transaksi">
          <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp;
          <span class="hidden-xs">Transaksi</span>
      </a>
      <a class="xs-navbar" href="/categories" title="Kategori">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
        <span class="hidden-xs">Kategori</span>
      </a>
      <a class="xs-navbar" href="/change-password" title="Ganti Password">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;
        <span class="hidden-xs">Ganti Password</span>
      </a>
      <a class="xs-navbar" href="/logout">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <h3 class="page-header">
    <div class="pull-right">
        <a href="#" class="btn btn-success input-pemasukan">Input Pemasukan</a>
        <a href="#" class="btn btn-success input-pengeluaran">Input Pengeluaran</a>
    </div>
    Daftar Transaksi
    <small>Total : 0 Transaksi</small>
  </h3>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default table-responsive">
    <table class="table table-condensed table-bordered">
      <tr>
        <td class="col-xs-2 text-center">Total Pemasukan</td>
        <td class="col-xs-2 text-center">Total Pengeluaran</td>
        <td class="col-xs-2 text-center">Selisih</td>
      </tr>
      <tr>
        <td class="text-center lead" style="border-top: none;">0.00</td>
        <td class="text-center lead" style="border-top: none;">0.00</td>
        <td class="text-center lead" style="border-top: none;">0.00</td>
      </tr>
    </table>
</div>

<div class="panel panel-default table-responsive">
  <div class="panel-heading">
    <form method="GET" action="/home" accept-charset="UTF-8" class="form-inline">
      <div class="form-group ">
        <label for="query" class="control-label">Cari Transaksi</label>&nbsp;<input class="form-control input-sm" placeholder="Deskripsi transaksi..." name="query" type="text" id="query">
      </div>
      <select class="form-control input-sm" name="month">
        <option value="01">Januari</option>
        <option value="02">Pebruari</option>
        <option value="03">Maret</option>
        <option value="04">April</option>
        <option value="05" selected="selected">Mei</option>
        <option value="06">Juni</option>
        <option value="07">Juli</option>
        <option value="08">Agustus</option>
        <option value="09">September</option>
        <option value="10">Oktober</option>
        <option value="11">Nopember</option>
        <option value="12">Desember</option>
      </select>
      <select class="form-control input-sm" name="year">
        <option value="2018" selected="selected">2018</option>
      </select>
      <div class="form-group ">
        <select class="form-control input-sm" name="category_id">
          <option value="" selected="selected">-- Semua Kategori --</option>
        </select>
      </div>
      <input class="btn btn-primary btn-sm" type="submit" value="Submit">
      <a href="/home">Reset</a>
      </form>
      </div>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Tanggal</th>
                <th>Deskripsi Transaksi</th>
                <th class="text-right">Jumlah</th>
                <th class="text-center">Pilihan</th>
            </tr>
          </thead>
          <tbody>
            <tr><td colspan="5">Transaksi tidak ditemukan.</td></tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3" class="text-right">Total</th>
              <th class="text-right">
                  0.00
              </th>
              <th>&nbsp;</th>
            </tr>
          </tfoot>
          </table>
        </div>
    </div>
</div>
</div>

<div class="col-md-4">
  <div id="transactionInModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a href="/home" class="close">&times;</a>
                <h4 class="modal-title">Input Pemasukan</h4>
            </div>
            <form method="POST" action="/home/transactions/create" accept-charset="UTF-8">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required ">
                        <label for="date" class="control-label">Tanggal</label>&nbsp;<input class="form-control date-select" required name="date" type="text" value="2018-05-27" id="date">
                      </div>
                    </div>
                </div>
                <div class="form-group required ">
                  <label for="description" class="control-label">Deskripsi Transaksi</label>&nbsp;<textarea class="form-control" required rows="3" name="description" cols="50" id="description"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required ">
                        <label for="amount" class="control-label">Jumlah</label>&nbsp;<div class="input-group"><span class="input-group-addon">Rp</span><input class="form-control text-right" required name="amount" type="text" id="amount"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label for="category_id" class="control-label">Kategori</label>&nbsp;<select class="form-control" id="category_id" name="category_id"><option value="" selected="selected">-- Tanpa Kategori --</option></select>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Input Pemasukan">
                <a href="/home" class="btn btn-default" data-toggle='modal'>Batal</a>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
  <div id="transactionOutModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a href="/home" class="close">&times;</a>
                <h4 class="modal-title">Input Pengeluaran</h4>
            </div>
            <form method="POST" action="/home/transactions/create" accept-charset="UTF-8">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required ">
                        <label for="date" class="control-label">Tanggal</label>&nbsp;<input class="form-control date-select" required name="date" type="text" value="2018-05-27" id="date">
                      </div>
                    </div>
                </div>
                <div class="form-group required ">
                  <label for="description" class="control-label">Deskripsi Transaksi</label>&nbsp;<textarea class="form-control" required rows="3" name="description" cols="50" id="description"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required ">
                        <label for="amount" class="control-label">Jumlah</label>&nbsp;<div class="input-group"><span class="input-group-addon">Rp</span><input class="form-control text-right" required name="amount" type="text" id="amount"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label for="category_id" class="control-label">Kategori</label>&nbsp;<select class="form-control" id="category_id" name="category_id"><option value="" selected="selected">-- Tanpa Kategori --</option></select>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Input Pengeluaran">
                <a href="/home" class="btn btn-default" data-toggle='modal'>Batal</a>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
(function () {

    $('.input-pengeluaran').click(function(e) {
      show_input_pengeluaran();
    });

    $('.input-pemasukan').click(function(e) {
      show_input_pemasukan();
    });

    $('.date-select').datetimepicker({
        timepicker:false,
        format:'Y-m-d',
        closeOnDateSelect: true,
        scrollInput: false
    });

    function show_input_pengeluaran() {
      $('#transactionOutModal').modal({
          show: true,
          backdrop: 'static',
      });
    }

    function show_input_pemasukan() {
      $('#transactionInModal').modal({
          show: true,
          backdrop: 'static',
      });
    }

})();
</script>

{% endblock %}